:root {
  --clr-blue-1: #20537c;
  --clr-blue-2: #17374d;
  --blue-pseudo: #0a6f9e;
  --clr-white: #f5f5f5;
  --clr-btn: #179223;
  --clr-btn-2: #1ab629;

  --border-black: 1.9px solid #111111;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to right, #4b79a1, #283e51);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--clr-blue-1);
  color: var(--clr-white);
  max-width: 40rem;
  width: 100%;
  height: 38.4rem;
  margin: 2rem 2.5rem;
}

.headline,
.instructions {
  margin: 2rem 2rem;
}

.headline {
  font-size: 3rem;
  font-weight: 500;
}

.form__group {
  height: 50px;
  margin: 9px 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.meme__input {
  padding: 4px 9px;
  outline: none;
  border-radius: 10px;
  border: var(--border-black);
  background-color: var(--clr-blue-2);
  color: var(--clr-white);
}

.meme__input:focus {
  background-color: var(--blue-pseudo);
}

.meme__btn {
  display: inline-block;
  height: 3rem;
  width: 12rem;
  padding: 2px 8px;
  margin-left: auto;
  border: var(--border-black);
  background-color: var(--clr-btn);
  color: var(--clr-white);
  font-size: inherit;
}

.meme__btn:hover {
  background-color: var(--clr-btn-2);
}

.meme__btn:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 26.25em) {
  .container {
    width: 30rem;
    height: 43rem;
    padding-bottom: 8px;
  }

  .headline,
  .instructions {
    text-align: center;
  }
}
